.side-bar {
  width: 100px;
  position: fixed;
  top: 65px;
  left: 0;
  bottom: 0;
  background-color: white;
  z-index: 200;
}
.sidebar-link {
  height: 107.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  cursor: pointer;
}
.sidebar-link:hover {
  background-color: rgb(192, 192, 192);
}
.home-icon,
.original-icon {
  width: 50px;
}
.explore-icon,
.youtube-music-icon {
  width: 45px;
}
.suscribe-icon {
  width: 60px;
}
.library-icon {
  width: 40px;
}
.sidebar-link div {
  font-size: 13px;
  font-weight: 500;
}
